body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff; /* Texto principal en blanco */
    text-align: center;
}

a {
    color: #fff; /* Enlaces en blanco */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
